<div class="container mt-4">
    <h2>Cocktails</h2>

    <div *ngIf="loading" class="text-center">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    <div *ngIf="!loading" class="row">
      <div *ngFor="let cocktail of cocktails" class="col-md-4 mb-4">
        <div class="card">
          <img [src]="cocktail.strDrinkThumb" class="card-img-top" alt="{{cocktail.strDrink}}" />
          <div class="card-body">
            <h5 class="card-title">{{cocktail.strDrink}}</h5>
            <p class="card-text">Drink Category: {{cocktail.strCategory}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between">
      <button (click)="prevPage()" class="btn btn-primary" [disabled]="currentPage === 1">Previous</button>
      <button (click)="nextPage()" class="btn btn-primary" [disabled]="currentPage * cocktailsPerPage >= totalCocktails">Next</button>
    </div>
</div>
