<div class="dark-background">
  <div *ngIf="drinks.length > 0; else noDrinks">
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let drink of drinks">
        <div class="card shadow-sm">
          <img *ngIf="drink.imageUrl" [src]="drink.imageUrl" alt="{{ drink.name }}" class="card-img-top drink-image">
          <div class="card-body">
            <h5 class="card-title">{{ drink.name }}</h5>
            <p class="card-text">Type: {{ drink.type }}</p>
            <p class="card-text">Volume: {{ drink.volume }} ml</p>
            <p class="card-text">Alcohol Content: {{ drink.alcoholContent }}%</p>
            <p class="card-text">Price: ${{ drink.price }}</p>
          </div>
          <div class="card-footer text-muted">
            
            <button class="btn btn-danger" (click)="removeDrink(drink._id)">Remove</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noDrinks>
    <p>No drinks available.</p>
  </ng-template>
</div>